body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: skyblue;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #70c5ce;
    overflow: hidden;
}


.bird {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50vh;
    left: 10vw;
    transition: transform 0.2s;
}

.pipe_sprite {
    position: absolute;
    width: 5vw;
    height: 20vh;
}

.top {
    transform: rotate(180deg);
}

.bottom {
    transform: none;
}



.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 2;
}


.messageStyle {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    animation: blink 1s infinite;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.score_title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


.score_val {
    position: absolute;
    top: 10px;
    left: 80px;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}